body,
html {
    height: 100%;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-size: 1.25em;
    margin-top: 10px;
    width: 80%;
}

.main {
    height: 100vh;
    /*height: 100%???*/
    width: 100vw;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("img/bg-room.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
}

.text-box {
    display: flex;
    height: 100%;
    padding: 20px 30px 20px 50px;
    /* padding: 0px 30px 20px 50px;*/
}

.text-content {
    width: 80vw;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 5px;
    margin-right: 30px;
    background-color: rgba(18, 24, 51, 0.58);
    height: 75%;
    border-radius: 4px;
    border: 1px solid #000;
}

.txt-button {
    width: 80vw;
}

.button-box {
    /*
    margin-top: -50px;
    display: flex;
    align-items: center;
    float: right;
    */
    display: flex;
    align-items: center;
    position: absolute;
    right: 10vw;
    bottom: 70px;
}

button,
button:focus,
bouton:active {
    width: 10vw;
    padding: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    outline: none;
}

button:hover {
    width: 10vw;
    padding: 10px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.button-space {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
    align-self: center;
    /* height: 45%; */
}

.button-space>button {
    border: 2px solid #333;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
}

.button-space>button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8,
#button9 {
    margin-bottom: 10px;
    font-size: 0.85em;
    background-color: rgb(67, 76, 115);
    border-color: rgb(39, 46, 80);
    color: #b9d1f7;
    font-weight: 500;
    border-radius: 4px;
    background: linear-gradient(rgb(67, 76, 115), rgb(52, 62, 109));
}

#button1:hover,
#button1:active,
#button1:active,
#button2:hover,
#button2:active,
#button2:active,
#button3:hover,
#button3:active,
#button3:active,
#button4:hover,
#button4:active,
#button4:active,
#button5:hover,
#button5:active,
#button5:active,
#button6:hover,
#button6:active,
#button6:active,
#button7:hover,
#button7:active,
#button7:active,
#button8:hover,
#button8:active,
#button8:active,
#button9:hover,
#button9:active,
#button9:active {
    color: #99ffff;
    background: linear-gradient(rgb(63, 167, 179), rgb(19, 105, 105));
    border-color: #0e4d4e;
}

#buttonx {
    width: initial;
    float: right;
    margin: -50px 0 0 0;
}

#restart {
    width: initial;
    float: right;
    margin: -50px 0 0 0;
}

.char1 {
    height: 400px;
    width: 300px;
    /*This is a box in which I'll put images with transparent BG!
    background-color: purple;*/
}

.char2 {
    height: 400px;
    width: 350px;
    /*This is a box in which I'll put images with transparent BG!
    background-color: teal;*/
}

h3 {
    font-family: "Amaranth", sans-serif;
    font-size: 1.5em;
    margin: 10px 0 0 0;
}

.border {
    border: 2px solid #bad455;
}


/* The animation code 
@keyframes example {
    to {background-color: yellow;}
}*/


/* The element to apply the animation to 
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}*/

#next,
#replay {
    margin-right: 20px;
}


/*====================== GAME OVER =====================*/

.main-go {
    height: 100vh;
    /*height: 100%???*/
    width: 100vw;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("img/bg-hell.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-part {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-part {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#right>img {
    width: 280px;
    height: auto;
}

#top-part>a {
    font-family: "Amaranth", sans-serif;
    font-size: 3.5em;
    color: #ddd5cf;
    text-decoration: none;
    background-color: #424f7b;
    display: inline-block;
    padding: 5px 10px;
}