body,
html {
    height: 100%;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

.main {
    height: 100vh;
    /*height: 100%???*/
    width: 100vw;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("img/bg-room.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
}

.text-box {
    display: flex;
    height: 100%;
    padding: 20px 30px 20px 50px;
}

.text-content {
    width: 80vw;
    padding-right: 40px;
}

.button-box {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

button,
button:focus,
bouton:active {
    width: 10vw;
    padding: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    outline: none;
}

button:hover {
    width: 10vw;
    padding: 10px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.button-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
}

.button-space>button {
    border: 2px solid #333;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: none;
}

.button-space>button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#button1 {
    margin-bottom: 10px;
}

.char1 {
    height: 400px;
    width: 300px;
    /*This is a box in which I'll put images with transparent BG!
    background-color: purple;*/
}

.char2 {
    height: 400px;
    width: 350px;
    /*This is a box in which I'll put images with transparent BG!
    background-color: teal;*/
}

h3 {
    font-family: "Amaranth", sans-serif;
}

.border {
    border: 2px solid #bad455;
}