.main {
    height: 100vh;
    width: 100vw;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bottom {
    height: 200px;
    background-color: #bad455;
    width: 100vw;
}

.text-box {
    display: flex;
}

.text-content {
    width: 80vw;
    border: 1px solid greenyellow;
}

.button {
    width: 20vw;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.char1 {
    height: 300px;
    width: 200px;
    /*This is a box in which I'll put images with transparent BG!*/
    background-color: purple;
}

.char2 {
    height: 300px;
    width: 200px;
    /*This is a box in which I'll put images with transparent BG!*/
    background-color: teal;
}

.text-box {
    padding: 30px;
}